<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item fw-bold">Recipe Name</h4>
          <h4 class="list-group-item-text">Description</h4>
        </div>
        <span class="pull-right">
          <img alt="no image found" src="https://img.jamieoliver.com/jamieoliver/recipe-database/136295678.jpg?tr=w-800,h-1066" class="img-responsive" style="width: 200px;">
        </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
